.contactsBlock {
    /*min-height: 100vh;*/
    background-color: rgba(255, 192, 123, 0.45);
}

.contactsContainer {
    /*min-height: 50vh;*/
    flex-direction: column;
    justify-content: center;
    background-color: rgba(218, 224, 255, 0.74);
}

.title {
    background-color: #ffd4f0;
}

.contactForm {
    width: 50%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactForm input, .contactForm textarea {
    width: 100%;
}


.contactsButton {
    padding: 10px 20px;
    background-color: brown;
    cursor: pointer;
}