@import "../common/styles/sass/variables";

.contactsBlock {
  //background-color: rgba(255, 192, 123, 0.45);

  .contactsContainer {
    min-height: 60vh;
    flex-direction: column;
    justify-content: center;
    //background-color: rgba(218, 224, 255, 0.74);

    .title {
      //background-color: #ffd4f0;
    }

    .contactForm {
      width: 956px;
      height: 796px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      input {
        background-color: $bgColor;
        padding: 30px;
        width: 956px;
        height: 88px;
        border: 3px solid #00E472;
        box-sizing: border-box;
        border-radius: 20px;

        font-family: $dsSansFont;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 33px;
        color: $textSecondColor;
      }

      textarea {
        background-color: $bgColor;
        padding: 30px;
        width: 956px;
        height: 323px;
        border: 3px solid #00E472;
        box-sizing: border-box;
        border-radius: 20px;

        font-family: $dsSansFont;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 33px;
        color: $textSecondColor;
      }
      .errorMessage {
        color: #d9342c;
        font-family: $dsSansFont;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: 26px;
      }
    }
  }

}



.messageSuccess {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 10px;
  max-width: 290px;
  width: 100%;
  height: auto;
  position: absolute;
  //top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #292927;
  border: 1px solid white;
  border-radius: 6px;
  z-index: 1;
  transition: all 400ms ease;

  span {
    text-align: center;
    color: #e7e1e1;
  }
}

@media screen and (max-width: 1255px) {
  .contactForm {
    width: 100%;
  }
}


