@import "../styles/sass/variables";
@import "../styles/sass/mixins.scss";

body {
    padding: 0;
    //margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.global:nth-child(2n) {
    background-color: $bgColor;
}
.global:nth-child(2n+1) {
    background-color: $bgSecondColor;
}

.projectLink {
    margin-top: 10px;
    margin-bottom: 10px;
    @include text($dsSansFont, 19px);
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $greenColor;
    width: 191px;
    height: 50px;
    border-radius: 38px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #fff
}