@import "../../../common/styles/sass/variables";

.title {
    margin: 0 0 60px;
    position: relative;
    & h2 {
        font-family: $rufinaFont;
        font-style: normal;
        font-weight: normal;
        font-size: 45px;
        line-height: 56px;
        color: #fff;
        margin: 0;
    }

    &::before {
        content: "";
        position: absolute;
        background: $greenColor;
        width: 92px;
        height: 5px;
        border-radius: 50px;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}



