@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.projectContainer {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 358px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  background-color: $bgColor;
  border: solid 1px $greenColor;
  @media screen and (max-width: 985px) {
    width: 100%;
  }


  .imageContainer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }
  }

  .projectInfo {
    padding: 10px 20px;

    .projectTitle {
      @include text($rufinaFont, 22px);
      line-height: 27px;
      color: #fff;
      font-style: normal;
      font-weight: normal;
      //letter-spacing: 1px;
      margin: 0 0 10px;
    }

    .projectDescription {
      @include text($dsSansFont, 20px);
      font-style: normal;
      font-weight: normal;
      line-height: 26px;
      color: #fff;
    }
  }
}



