.projectContainer {
    width: 450px;
    background-color: #ffd4f0;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*text-align: center;*/
}

.imageContainer {
    height: 300px;
    background-color: #e3afd1;
    /*background-image: url("https://apkshki.com/storage/4915/icon_5f297702cb229_4915_w256.png");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectDescription {
    border: solid 1px black;
    background-color: #ab44f4;
}

.projectButton {
    padding: 10px 20px;
    background-color: brown;
    cursor: pointer;
}
