.projectContainer {
    width: 450px;
    background-color: #252527;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    height: 300px;
    background-color: #e3afd1;
    /*background-image: url("https://apkshki.com/storage/4915/icon_5f297702cb229_4915_w256.png");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectButton {
    background-color: #eeeef5;
    padding: 10px 20px;
    cursor: pointer;
}

.projectInfo {
 padding: 25px 20px;
}

.projectTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: #fff;
}

.projectDescription {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}