@import "../common/styles/sass/mixins";
@import "../common/styles/sass/variables";

.nav {
  width: 535px;
  display: flex;
  justify-content: space-between;

  a {
    @include text($dsSansFont, 24px);
    font-style: normal;
    font-weight: bold;
    line-height: 31px;
    color: #fff;
    position: relative;
    &.activeClass {
     color: $greenColor;
      &::before {
        content: "";
        position: absolute;
        background: $greenColor;
        width: 92px;
        height: 5px;
        border-radius: 50px;
        bottom: -14px;
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }
}