$bgColor: #313536;
$bgSecondColor: #252829;
$greenColor: #00E472;
$primaryColor: #00E472;
$dsSansFont: 'DM Sans', sans-serif;
$rufinaFont: 'Rufina', serif;


$textColor: #a9afc3;
$textSecondColor: #ABAEB0;



