.remoteBlock {
    background-color: #d4ffc0;
}

.remoteContainer {
    flex-direction: column;
    justify-content: center;
    background-color: #bea1aa;
}

.title {
    background-color: #ffd4f0;
}

.remoteButton {
    padding: 10px 20px;
    background-color: brown;
    cursor: pointer;
}