.footerBlock {
    /*min-height: 50vh;*/
    background-color: rgba(255, 240, 164, 0.2);
}

.footerContainer {
    background-color: #eeeef5;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #ffd4f0;
}

.footerContent {
    width: 50%;
    background-color: #ffe9e9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerMini {
    width: 50px;
    height: 50px;
    background-color: #bea1aa;
}

.copyRight {
    background-color: #99d0fb;
}